body {
  background-color: #f9dbb9;
  color: #555;
  font-size: .95rem;
}
.site-wrapper {
  padding: 50px 0 0;
}
.site_name {
  border-bottom: 2px dotted #555;
}
.main_col {
    padding-bottom: 50px;
}
.right_col {
  font-size: .9rem;
}
.right_col .custom_ad {
    margin-bottom: 30px;
}
.dict8_note_help {
  font-style: italic;
}
.save_note_btn {
  cursor: pointer;
}
#saved_notes_section .card-body{
  max-height: 300px;
  overflow-y: auto;
}
#s2t_dict8_note {
  border: 5px solid #ddd;
}
.saved_note_item {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px;
}
.saved_note_item:first-child {
  padding-top: 0;
}
.saved_note_item:last-child {
  border-bottom: none;
}
.dark_mode_section > .dark_mode_wrapper {
  text-align: center;
}
.dark_mode_section {
  text-align: initial !important;
}

/* social share */
.share-title {
  font-size: 16px;
  display: block;
  letter-spacing: -0.1px;
}
.share-title:not(:last-child) {
  margin-bottom: 10px;
}
.share span.title {
  display: inline-block;
  vertical-align: -8px;
  margin-right: 10px;
  text-transform: uppercase;
}
.share > ul {
  display: inline-block;
}
.share-wrap.style-2 {
  margin: 0 -10px;
}
.share-wrap.style-2 .share-title,
.share-wrap.style-2 .social-icons.share {
  display: inline-block;
  vertical-align: middle;
  margin: 0 9px;
}
.social-icons.share {
  list-style-type: none;
  font-size: 0;
  margin-left: -50px;
}
.social-icons.share > li {
  font-size: 15px;
  display: inline-block;
  padding: 4px 2px 0;
  cursor: pointer;
  margin-bottom: 10px;
}
.social-icons.share:not(.type2) > li > a {
  width: auto;
  height: auto;
  padding: 7px 20px;
  border: none;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  border-radius: 3px;
  text-decoration: none;
}
.social-icons.share > li > a > i {
  font-size: 16px;
}
.social-icons.share > li > a > i {
  margin-right: 10px;
}
.social-icons.share > li > a.sh-facebook {
  background: #3b5998;
}
.social-icons.share > li > a.sh-twitter {
  background: #1da1f2;
}
.social-icons.share > li > a.sh-linkedin {
  background: #0077b5;
}
.social-icons.share > li > a.sh-whatsapp {
  background: #4fce5d;
}
.social-icons.share > li > a.sh-google {
  background: #d73d32;
}
.social-icons.share > li > a.sh-pinterest {
  background: #bd081c;
}
.social-icons.share > li > a.sh-mail {
  background: #7b8285;
}

/* Speech to text */
.speech2text_section {
	position: relative;
}
.speech2text_interim_wrapper .final_output, 
.speech2text_interim_wrapper .interim_output {
	display: none;
}
.speech2text_section textarea, 
.speech2text_section input {
	padding-right: 30px !important;
}
.speech2text_section .speech2text_wrapper {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 999;
}
.speech2text_section.s2t_summernote .speech2text_wrapper {
    top: 12px;
}
.speech2text_wrapper > span {
	position: relative;
}
.speech2text_icon {
    font-size: 22px !important;
    color:green
}
.speech2text_pulsate {
    content: '';
    width: 27px;
    height: 27px;
    position: absolute;
    top: -8px;
    left: -7px;
    border: 2px solid red;
    border-radius: 50%;
    animation: pulsate infinite 2s;
    -webkit-animation: pulsate infinite 2s;
}
@keyframes pulsate {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
