.form-check-input {
    margin-left: 0;
}
.site_title {
	background: #0aa89e;
	padding: 10px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.login-register .site_title {
	margin-bottom: 0;
	text-transform: uppercase;
}
.login_logo {
	width: 120px;
	height:auto;
}

input:read-only {
	background: #f2f2f2 !important;
	color: #000 !important;
}

.user_type {
	padding: 10px;
}

.page_buttons button, 
.page_buttons a,
.tv_button {
	margin-bottom: 5px; 
}
.modal.custom .modal-header {
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 10px;
	padding: 10px 15px;
} 
.modal.custom .modal-header .modal-title {
	font-weight: 600;
} 
.modal.custom .modal-footer {
	border-top: 1px solid #f2f2f2;
	margin-top: 10px;
	padding: 10px 15px;
} 

.ajax_crud_btn {
	padding: 3px 7px;
}

.record_image {
	max-width: 50px;
	height: auto;
}

.view_label {
	font-weight: 700;
}
.rating {
	color: #999;
	font-size: 12px
}
.rating .fa-star {
	color: #FC0
}
.page_into_text {
	margin: 15px 0;
}

.image_widget img,
.video_widget iframe {
	width: 100%;
    height: auto;
}